/*
 * rum
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package rum_sdk

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ _context.Context
)

// ToolsApiService ToolsApi service
type ToolsApiService service

// ToolsApiApiV1ToolsPubkeytoaddrPostOpts Optional parameters for the method 'ApiV1ToolsPubkeytoaddrPost'
type ToolsApiApiV1ToolsPubkeytoaddrPostOpts struct {
    ApiPubkeyParam optional.Interface
}

/*
ApiV1ToolsPubkeytoaddrPost PubkeyToEthaddr
Convert a based64 encoded libp2p pubkey to the eth address
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *ToolsApiApiV1ToolsPubkeytoaddrPostOpts - Optional Parameters:
 * @param "ApiPubkeyParam" (optional.Interface of ApiPubkeyParam) - 
@return ApiPubkeyToEthaddrResult
*/
func (a *ToolsApiService) ApiV1ToolsPubkeytoaddrPost(ctx _context.Context, localVarOptionals *ToolsApiApiV1ToolsPubkeytoaddrPostOpts) (ApiPubkeyToEthaddrResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ApiPubkeyToEthaddrResult
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/v1/tools/pubkeytoaddr"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	if localVarOptionals != nil && localVarOptionals.ApiPubkeyParam.IsSet() {
		localVarOptionalApiPubkeyParam, localVarOptionalApiPubkeyParamok := localVarOptionals.ApiPubkeyParam.Value().(ApiPubkeyParam)
		if !localVarOptionalApiPubkeyParamok {
			return localVarReturnValue, nil, reportError("apiPubkeyParam should be ApiPubkeyParam")
		}
		localVarPostBody = &localVarOptionalApiPubkeyParam
	}

	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(r)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
